<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="progettoDB.Properties.Settings.bigliettoneConnectionString"
            connectionString="Data Source=DESKTOP-15SK7IK;Initial Catalog=bigliettone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="progettoDB.Properties.Settings.concertiConnectionString"
            connectionString="Data Source=DESKTOP-15sk7ik;Initial Catalog=concerti;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="progettoDB.Properties.Settings.concertiConnectionString1"
            connectionString="Data Source=desktop-15sk7ik;Initial Catalog=concerti;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="progettoDB.Properties.Settings.concertiConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=concerti;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>